  * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Arial", sans-serif;
      }

      .navbar {
        background: linear-gradient(0deg, #4676a6, #2980b9);
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
        height: 80px;
      }

      .logo a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
      }

      .nav-links {
        display: flex;
        list-style: none;
        gap: 2rem;
        /* border: 2px solid red; */
        flex-grow: 1;
        padding: 1.4rem;
        width: 100%;
        overflow: hidden;
        justify-content: center;
      }

      header li {
        /* display: none; */
        /* flex-grow: 1; */
        /* border: 2px solid red; */
        /* min-width: 80px; */
        min-width: max-content;
        /* display: flex; */
        /* justify-content: center; */
      }

      header a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        transition: 0.3s;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        /* border: 2px solid red; */
      }

      header a:hover {
        color: #ecf0f1;
        transform: translateY(-2px);
      }

      header a.active {
        color: #f1c40f;
      }

      .hamburger {
        display: none;
        cursor: pointer;
      }

      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: white;
      }

      .hamburger {
        display: block;
      }

      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }

      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }

      .invisible_section {
        /* display: none; */
        margin-top: 80px;
        list-style: none;
        gap: 20px;
        text-decoration: none;
        /* display: flex; */
        background: linear-gradient(0deg, #2980b9, #4676a6);
        /* border: 2px solid red; */
        padding: 20px;
        transition: all 0.1s ease-in-out;
        transform: translateX(-100%);
        flex-direction: column;
        width: 140px;
        display: flex;
      }

      .show-option {
        transform: translateX(0%);
      }

      .op-none {
        opacity: 0;
      }
